.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.avatar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.avatar-image {
  width: 250px;
  height: 250px;
  object-fit: cover;
  margin-bottom: 15px;
  border: 5px solid #dee2e6;
}

.icon-button {
  color: #007bff;
  font-size: 1rem;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.icon-button:hover {
  color: #0056b3;
}

.profile-content {
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.hello {
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: bold;
  color: #343a40;
}

.profile-details p {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #495057;
}

.profile-details strong {
  color: #28a745;
}

.btn-group {
  display: flex;
  gap: 7px;
  margin-top: 20px;
}

.btn-group button {
  font-size: 15px;
  padding: 10px 20px;
  font-weight: bold;
}
