.order-info-container {
  display: flex;
  justify-content: space-between; 
  margin: 40px 20px; 
  height: 450px;
  justify-content: center;
}

.order-info {
  font-family: Arial, sans-serif;
  padding: 15px;
  width: 50%; 
  background: #fff;
}

.order-info h2 {
  color: dodgerblue;
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: bold;
}

.order-info p {
  font-size: 16px;
  margin: 10px 0;
}

.order-info p strong {
  color: #333;
}

.order-info ul {
  list-style-type: none;
  padding: 0;
}

.order-info ul li {
  border-bottom: 1px solid #eee;
  padding: 5px;
}

.order-info ul li:last-child {
  border-bottom: none;
}

.order-info ul li p {
  margin: 0;
  font-size: 14px;
  padding: 10px;
}

.confirm-order {

}

.product-image{
  width: 60%;
}

.payment-button {
  width: 70% !important;
  height: 50px !important;
}

.payment-button img {
  width: 40px !important;
  margin-right: 10px;
}

.momo {
  background-color: #D82D8B;
  border: none !important;
}

.money {
  background-color: white; 
  color: #218838;
  border: 1px solid #218838;
}

.momo:hover {
  background-color: #bb2678;
}

.money:hover {
  background-color: #218838; 
}
