.statistics-chart-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 700px;
}

.form-container {
  width: 30%;
  padding: 20px;
}

.chart {
  height: 690px;
  margin-top: 20px;
}

.title-bctk {
  font-size: 25px;
}

input {
  width: 20%;
  margin-left: 10px;
}

button {
  margin: 10px 20px;
}

.chart-data-summary {
  margin-top: 20px;
  padding: 10px;
}

.chart-data-summary h2 {
  margin-bottom: 10px;
}

.chart-data-summary table {
  width: 100%;
  border-collapse: collapse;
}

.chart-data-summary th,
.chart-data-summary td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: center;
}

.chart-data-summary th {
  background-color: #f4f4f4;
}

.chart-data-summary tr:hover {
  background-color: rgb(228, 227, 227);
}

.input-list {
  width: 100%;
  padding: 7px;
  border-radius: 10px;
}

.input-list:focus {
  border: 1px solid dodgerblue;
  box-shadow: 0px 3px 5px rgba(57, 162, 237, 0.945);
}